/* Template 10: Corporate */
#cv-preview {
    font-family: 'Times New Roman', Times, serif;
}

#cv-preview h1 {
    font-weight: bold;
    text-align: left;
}

#cv-preview h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
}
