/* Template 7: Minimalist */
#cv-preview {
    font-family: 'Lato', sans-serif;
}

#cv-preview h1, #cv-preview h2, #cv-preview h3 {
    font-weight: 300;
}

#cv-preview h2 {
    border: none;
    font-style: italic;
}
