/* Template 13: Bold */
#cv-preview {
    font-family: 'Verdana', sans-serif;
}

#cv-preview h1 {
    font-size: 3rem;
    color: #222;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#cv-preview h2 {
    font-size: 1.6rem;
    color: #444;
    border-left: 4px solid #333;
    padding-left: 0.5rem;
    margin-top: 1.5rem;
}
