/* Template 8: Creative */
#cv-preview {
    text-align: center;
}

.profile-image-container {
    margin: 0 auto 1rem auto;
    border: 5px solid #f1c40f;
}

#cv-preview h1 {
    font-family: 'Pacifico', cursive;
}
